In [1]:
import pandas as pd

In [2]:
imdb_tmdb = pd.read_csv('../data/imdb_tmdb.csv')

In [3]:
relevant_titles = set(imdb_tmdb['tconst'].values)

In [5]:
name_basics = pd.read_csv('../cleaned_data/relevant_name_basics.txt', sep='|')

In [6]:
crew = pd.read_csv('../cleaned_data/relevant_crew.txt', sep='|')

In [7]:
principals = pd.read_csv('../cleaned_data/relevant_principals.txt', sep='|')

In [8]:
ratings = pd.read_csv('../cleaned_data/relevant_title_ratings.csv')

In [23]:
imdb_tmdb.dtypes

Unnamed: 0                 int64
belongs_to_collection     object
budget                   float64
genres_x                  object
id                       float64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
status_code              float64
status_message           float64
tagline                   object
title                     object
vote_average             float64
vote_count               float64
release_year               int64
tconst                    object
titleType                 object
primaryTitle              object
isAdult                    int64
startYear                  int64
runtimeMinutes            object
genres_y                  object
_merge                    object
dtype: object

In [26]:
imdb_tmdb[imdb_tmdb['isAdult'] == True]

Empty DataFrame
Columns: [Unnamed: 0, belongs_to_collection, budget, genres_x, id, imdb_id, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, status_code, status_message, tagline, title, vote_average, vote_count, release_year, tconst, titleType, primaryTitle, isAdult, startYear, runtimeMinutes, genres_y, _merge]
Index: []

[0 rows x 32 columns]

In [68]:
imdb_tmdb.iloc[3671]

Unnamed: 0                                                           33003
belongs_to_collection                                                  NaN
budget                                                                 200
genres_x                 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
id                                                                  222060
imdb_id                                                          tt1988546
original_language                                                       en
original_title                             Anonymous Celebrities: Animatic
overview                 Nerdy Herbert meets Annie, the holier-than-tho...
popularity                                                             0.6
production_companies     [{'id': 16840, 'logo_path': None, 'name': 'Ran...
production_countries                              United States of America
release_date                                                    2005-10-18
revenue                                                                 10
runtime                                                                 99
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
status_code                                                            NaN
status_message                                                         NaN
tagline                  A barely animated sci-fi musical comedy romanc...
title                                      ANONYMOUS CELEBRITIES: ANIMATIC
vote_average                                                            10
vote_count                                                               1
release_year                                                          2005
tconst                                                           tt1988546
titleType                                                            movie
primaryTitle                               ANONYMOUS CELEBRITIES: ANIMATIC
isAdult                                                                  0
startYear                                                             2011
runtimeMinutes                                                          99
genres_y                                                                \N
_merge                                                                both
Name: 3671, dtype: object

In [ ]:
imdb_tmdb['runtime'][-100:-50]

In [33]:
imdb_tmdb.dtypes

Unnamed: 0                 int64
belongs_to_collection     object
budget                   float64
genres_x                  object
id                       float64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
status_code              float64
status_message           float64
tagline                   object
title                     object
vote_average             float64
vote_count               float64
release_year               int64
tconst                    object
titleType                 object
primaryTitle              object
isAdult                    int64
startYear                  int64
runtimeMinutes            object
genres_y                  object
_merge                    object
dtype: object

In [112]:
movies_dropped = imdb_tmdb.drop(['belongs_to_collection', 'Unnamed: 0', 'id', 'imdb_id',
               'original_language', 'overview', 'popularity', 'production_countries',
               'release_date', 'spoken_languages', 'status', 'status_code', 'status_message',
               'tagline', 'original_title', 'titleType', 'primaryTitle', 'isAdult',
               'release_year', 'runtime', 'genres_y', '_merge'], axis=1)

In [335]:
num_genres = 4
num_prod_companies = 5
num_directors = 3
num_writers = 5
num_others = 10
num_cast = 10

In [158]:
import json 

def clean_genres(x):
    json_dict = json.loads(x.replace("\'", "\""))
    return [item['name'] for item in json_dict][:num_genres]

def clean_prod_companies(x):
    companies = []
    i = x.find("'name': '")
    while (i != -1):
        companies.append(x[i + len("'name': '"):x.find("', 'origin_country'", i)])
        i = x.find("'name': '", i + 1)
        
    return companies[:num_prod_companies]
#     x_no_single_quotes = x.replace("\'id\'", '\"id\"').replace("\'logo_path\'", '\"logo_path\"').replace("\'origin_country\'", '\"origin_country\"').replace("\'name\'", '\"name\"').replace() 
#     y = x_no_single_quotes.replace(', \"origin_country\": \'\'', "").replace(', \"logo_path\": None', "")
#     print(y)
#     print(y[20:25])
#     json_dict = json.loads(y)
#     return [item['name'] for item in json_dict][:5]


movies_clean_genres = movies_dropped.copy()
movies_clean_genres['genres_x'] = movies_clean_genres['genres_x'].apply(clean_genres)

movie_clean_companies = movies_clean_genres.copy()
movie_clean_companies['production_companies'] = movie_clean_companies['production_companies'].apply(clean_prod_companies)

In [169]:
movies_joined_crew = pd.merge(movie_clean_companies, crew, left_on='tconst', right_on='tconst')

In [170]:
movies_joined_crew

,budget,genres_x,production_companies,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,directors,writers
0,13000000.0,"[Family, Adventure, Science Fiction]","[Panay Films, Walt Disney Pictures]",45300000.0,EARTH TO ECHO,5.8,394.0,tt2183034,2014,91,nm1757777,"nm2849655,nm0659123"
1,26000000.0,"[Science Fiction, Mystery, Thriller]","[Ram Bergman Productions, Endgame Entertainment]",30523226.0,SELF/LESS,6.3,1929.0,tt2140379,2015,117,nm0802248,"nm1883612,nm0665041"
2,65000000.0,"[Action, Comedy, Crime]","[Chernin Entertainment, Feigco Entertainment, ...",235666219.0,SPY,6.8,4111.0,tt3079380,2015,119,nm0082450,nm0082450
3,5000000.0,"[Action, Drama]",[The Movie Network],1700000.0,BEST OF THE BEST,6.4,93.0,tt0096913,1989,97,nm0705675,"nm0722221,nm0505924,nm0834883"
4,150000.0,"[Horror, Thriller]","[Suited Four Productions, Shooting Creek Films...",560000.0,HOUSE OF GOOD AND EVIL,4.5,23.0,tt1068953,2013,108,nm0612625,nm1846376
...,...,...,...,...,...,...,...,...,...,...,...,...
3737,28000000.0,"[Crime, Drama, Mystery, Thriller]","[Traveling Picture Show Company (TPSC), Jersey...",53181600.0,A WALK AMONG THE TOMBSTONES,6.3,1766.0,tt0365907,2014,114,nm0291082,"nm0088747,nm0291082"
3738,60000000.0,"[Animation, Comedy, Family, Fantasy]",[Laika Entertainment],108255770.0,THE BOXTROLLS,6.6,1085.0,tt0787474,2014,96,"nm0820934,nm0030253","nm0109267,nm1106082,nm2223296,nm0820934,nm0197..."
3739,20000000.0,"[Comedy, Romance, Crime, Drama]","[IAC Films, Ghoulardi Film Company, Warner Bro...",14772346.0,INHERENT VICE,6.6,1476.0,tt1791528,2014,148,nm0000759,"nm0000759,nm1535410"
3740,50000.0,[Crime],[Allied Artists Pictures],600000.0,THE CRY BABY KILLER,5.3,6.0,tt0051500,1958,70,nm0011727,"nm0330388,nm0506544"
3741,103000000.0,"[Adventure, Comedy, Family, Animation]","[Blue Sky Studios, 20th Century Fox Animation,...",500188435.0,RIO 2,6.3,1949.0,tt2357291,2014,101,nm0757858,"nm0722610,nm6423183,nm0081081,nm3229505,nm0757..."

In [178]:
principals_no_job_chars = principals.drop(['characters', 'job'], axis = 1)

In [179]:
principals_no_job_chars

          tconst  ordering     nconst         category
0      tt2183034        10  nm1131817  cinematographer
1      tt2183034         1  nm5128387            actor
2      tt2183034         2  nm4702342            actor
3      tt2183034         3  nm3419119            actor
4      tt2183034         4  nm4125403          actress
...          ...       ...        ...              ...
37253  tt2357291         5  nm0757858         director
37254  tt2357291         6  nm0722610           writer
37255  tt2357291         7  nm6423183           writer
37256  tt2357291         8  nm0081081           writer
37257  tt2357291         9  nm3229505           writer

[37258 rows x 4 columns]

In [234]:
# want to capture Robert Downey Jr. in Avengers but non random maintenance guy actor nm3912910
relevant_principals = set(principals_no_job_chars['nconst'].values)

In [235]:
len(list(relevant_principals))

16432

In [236]:
%%time
principals_name_basics = principals_no_job_chars.copy()

cnt = 0 

new_rows = []

for index, row in name_basics.iterrows():
    cnt += 1
    if cnt % 10000 == 0:
        print(cnt)
#         break

    if row['nconst'] not in relevant_principals:
        continue

    if not isinstance(row['knownForTitles'], str):
        continue
    
    
    titles = row['knownForTitles'].split(',')
    primaryProfession = row['primaryProfession'].split(',')
    isActor = primaryProfession[0] == 'actor' or primaryProfession[0] == 'actress'
    
    for t in titles:
        new_rows.append(pd.Series([t, 11, row['nconst'], primaryProfession[0]], index=principals_name_basics.columns))

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
CPU times: user 53.8 s, sys: 50 ms, total: 53.8 s
Wall time: 53.8 s

In [237]:
len(new_rows)

26889

In [238]:
%%time
principals_name_basics = principals_name_basics.append(new_rows, ignore_index=True)

CPU times: user 1.51 s, sys: 0 ns, total: 1.51 s
Wall time: 1.51 s

Avengers movie before getting new information

In [250]:
avengers_filter = (principals_no_job_chars['tconst'] == 'tt0848228') & ((principals_no_job_chars['category'] == 'actor') | (principals_no_job_chars['category'] == 'actress'))

principals_no_job_chars[avengers_filter]

          tconst  ordering     nconst category
33306  tt0848228         1  nm0000375    actor
33307  tt0848228         2  nm0262635    actor
33308  tt0848228         3  nm0424060  actress
33309  tt0848228         4  nm0719637    actor

Avengers movie after getting new Information (also captures Cobie Smulders and Tom Hiddleston)

In [253]:
avengers_filter = (principals_name_basics['tconst'] == 'tt0848228') & ((principals_name_basics['category'] == 'actor') | (principals_name_basics['category'] == 'actress'))

principals_name_basics[avengers_filter].drop_duplicates(subset=['nconst'])

          tconst  ordering     nconst category
33306  tt0848228         1  nm0000375    actor
33307  tt0848228         2  nm0262635    actor
33308  tt0848228         3  nm0424060  actress
33309  tt0848228         4  nm0719637    actor
58840  tt0848228        11  nm1089991    actor
58979  tt0848228        11  nm1130627  actress

In [254]:
principals_name_basics_sorted = principals_name_basics.sort_values(['tconst', 'ordering'])

In [259]:
principals_name_basics_no_dups = principals_name_basics_sorted.drop_duplicates(['tconst', 'nconst'])

In [271]:
principals_name_basics_no_dups

           tconst  ordering     nconst         category
47448   tt0016884        11  nm0318105            actor
45490   tt0020332        11  nm0199841          actress
42430   tt0020629        11  nm0027173           writer
46214   tt0020629        11  nm0249186  cinematographer
40638   tt0021749        11  nm0003424            actor
...           ...       ...        ...              ...
27995   tt9015178         6  nm0619069           writer
27996   tt9015178         7  nm0849083           writer
27997   tt9015178         8  nm0370651         producer
27998   tt9015178         9  nm0437132         producer
27989   tt9015178        10  nm0466544         composer

[53994 rows x 4 columns]

In [270]:
principals_name_basics_no_dups.to_csv('../cleaned_data/all_principals.csv')

In [277]:
principals_writers = principals_name_basics_no_dups[(principals_name_basics_no_dups['category'] == 'writer')]

In [275]:
principals_directors = principals_name_basics_no_dups[(principals_name_basics_no_dups['category'] == 'director')]

In [278]:
principals_writers

           tconst  ordering     nconst category
42430   tt0020629        11  nm0027173   writer
42793   tt0021884        11  nm0049721   writer
55510   tt0021884        11  nm0791217   writer
54835   tt0024894        11  nm0750538   writer
37447   tt0027977        11  nm0000122   writer
...           ...       ...        ...      ...
4712    tt7958736         6  nm3398282   writer
4876    tt8085790         6  nm2002824   writer
4779    tt8155288         6  nm1245146   writer
27995   tt9015178         6  nm0619069   writer
27996   tt9015178         7  nm0849083   writer

[8853 rows x 4 columns]

In [279]:
principals_directors

           tconst  ordering     nconst  category
51068   tt0023876        11  nm0515979  director
38924   tt0025316        11  nm0001008  director
42555   tt0029583        11  nm0035899  director
49242   tt0029583        11  nm0414144  director
40301   tt0029843        11  nm0002031  director
...           ...       ...        ...       ...
4711    tt7958736         5  nm0853238  director
4875    tt8085790         5  nm1202276  director
4778    tt8155288         5  nm0484907  director
4885    tt8772262         5  nm4170048  director
27994   tt9015178         5  nm0368057  director

[4411 rows x 4 columns]

In [280]:
crew_merged_principals = crew.copy()

for index, row in crew_merged_principals.iterrows():
    directors = row['directors'].split(',')
    writers = row['directors'].split(',')
    
    cur_principals_writers = principals_writers[principals_writers['tconst'] == row['tconst']]['nconst'].values
    cur_principals_directors = principals_directors[principals_directors['tconst'] == row['tconst']]['nconst'].values

    writers = list(set(writers).union(set(cur_principals_writers)))
    directors = list(set(directors).union(set(cur_principals_directors)))
    
    row['directors'] = directors
    row['writers'] = writers

Sherlock Holmes 2 incomplete crew

In [293]:
crew[crew['tconst'] == 'tt1515091']

         tconst  directors                        writers
1705  tt1515091  nm0005363  nm1802251,nm0612487,nm0236279

Sherlock Holmes 2 full crew

In [291]:
crew_merged_principals[crew_merged_principals['tconst'] == 'tt1515091']

         tconst    directors                                       writers
1705  tt1515091  [nm0005363]  [nm1802251, nm0612487, nm0236279, nm0005363]

In [301]:
principals_name_basics_cast = principals_name_basics_no_dups[(principals_name_basics_no_dups['category'] == 'actor')
                                                                | (principals_name_basics_no_dups['category'] == 'actress')]

In [302]:
principals_name_basics_other = \
principals_name_basics_no_dups[(principals_name_basics_no_dups['category'] != 'actor')
                                & (principals_name_basics_no_dups['category'] != 'actress')
                                & (principals_name_basics_no_dups['category'] != 'writer')
                                & (principals_name_basics_no_dups['category'] != 'director')]

In [314]:
%%time
cast_rows = []

for title in relevant_titles:
    cur_cast = principals_name_basics_cast[principals_name_basics_cast['tconst'] == title]['nconst'].values
    cast_rows.append([title, list(cur_cast)])

CPU times: user 8.27 s, sys: 7.76 ms, total: 8.28 s
Wall time: 8.28 s

In [317]:
%%time
cast_df = pd.DataFrame(cast_rows, columns=['tconst', 'cast'])

CPU times: user 2.32 ms, sys: 27 µs, total: 2.35 ms
Wall time: 1.99 ms

In [326]:
cast_df

         tconst                                               cast
0     tt1498569       [nm1985859, nm1375330, nm1076976, nm0004922]
1     tt0080761       [nm0658133, nm0454415, nm0852551, nm0604987]
2     tt0072737       [nm0000314, nm0000380, nm0409866, nm0001642]
3     tt0048960       [nm0000057, nm0134594, nm0000511, nm0628579]
4     tt0799934  [nm0085312, nm0080049, nm0000418, nm0001201, n...
...         ...                                                ...
3749  tt0046912       [nm0001537, nm0000038, nm0191950, nm0002369]
3750  tt0892318       [nm1086543, nm0305558, nm0000603, nm0213482]
3751  tt0091613       [nm0522440, nm0000369, nm0001527, nm0656183]
3752  tt0095270       [nm0095122, nm0114616, nm0001145, nm0001323]
3753  tt0452624       [nm0000123, nm0000949, nm0001497, nm0000977]

[3754 rows x 2 columns]

In [321]:
cast_df[cast_df['tconst'] == 'tt0848228']['cast'].values

array([list(['nm0000375', 'nm0262635', 'nm0424060', 'nm0719637', 'nm1089991', 'nm1130627'])],
      dtype=object)

In [322]:
%%time
other_rows = []

for title in relevant_titles:
    cur_others = principals_name_basics_other[principals_name_basics_other['tconst'] == title]['nconst'].values
    other_rows.append([title, list(cur_others)])

CPU times: user 7.59 s, sys: 31.8 ms, total: 7.63 s
Wall time: 7.62 s

In [323]:
%%time
other_df = pd.DataFrame(other_rows, columns=['tconst', 'others'])

CPU times: user 2.16 ms, sys: 0 ns, total: 2.16 ms
Wall time: 1.94 ms

In [325]:
other_df[other_df['tconst'] == 'tt0848228']['others'].values

array([list(['nm0270559', 'nm0006293', 'nm0568974', 'nm0285701', 'nm0009540', 'nm0489809', 'nm2000224'])],
      dtype=object)

In [327]:
other_df

         tconst                                             others
0     tt1498569       [nm0004976, nm0397171, nm0000165, nm2833364]
1     tt0080761                  [nm0006185, nm0009161, nm0292711]
2     tt0072737                                                 []
3     tt0048960                             [nm0865239, nm0512068]
4     tt0799934  [nm1028107, nm0284577, nm0076259, nm0475578, n...
...         ...                                                ...
3749  tt0046912                  [nm0006323, nm0122079, nm0270458]
3750  tt0892318                  [nm0000289, nm0004799, nm0438210]
3751  tt0091613                  [nm0798680, nm0610781, nm0123394]
3752  tt0095270  [nm0003080, nm0888536, nm0409392, nm0359000, n...
3753  tt0452624                  [nm0963211, nm0414423, nm0002353]

[3754 rows x 2 columns]

In [332]:
merged_crew = pd.merge(movie_clean_companies, crew_merged_principals,
                          left_on=['tconst'], right_on=['tconst'])

merged_cast = pd.merge(merged_crew, cast_df,
                          left_on=['tconst'], right_on=['tconst'])

merged_others = pd.merge(merged_cast, other_df,
                          left_on=['tconst'], right_on=['tconst'])

In [333]:
merged_others

,budget,genres_x,production_companies,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,directors,writers,cast,others
0,13000000.0,"[Family, Adventure, Science Fiction]","[Panay Films, Walt Disney Pictures]",45300000.0,EARTH TO ECHO,5.8,394.0,tt2183034,2014,91,[nm1757777],"[nm0659123, nm2849655, nm1757777]","[nm5128387, nm4702342, nm3419119, nm4125403, n...","[nm1448916, nm2468967, nm1131817]"
1,26000000.0,"[Science Fiction, Mystery, Thriller]","[Ram Bergman Productions, Endgame Entertainment]",30523226.0,SELF/LESS,6.3,1929.0,tt2140379,2015,117,[nm0802248],"[nm1883612, nm0802248, nm0665041]","[nm0005351, nm2358540, nm0328828, nm0001426]","[nm0074851, nm0772283, nm0827726]"
2,65000000.0,"[Action, Comedy, Crime]","[Chernin Entertainment, Feigco Entertainment, ...",235666219.0,SPY,6.8,4111.0,tt3079380,2015,119,[nm0082450],[nm0082450],"[nm0565250, nm0126284, nm0000179, nm0005458]","[nm1858656, nm2295810, nm0867768, nm0788640, n..."
3,5000000.0,"[Action, Drama]",[The Movie Network],1700000.0,BEST OF THE BEST,6.4,93.0,tt0096913,1989,97,[nm0705675],"[nm0705675, nm0834883, nm0505924]","[nm0000616, nm0000469, nm0000476, nm0722221, n...","[nm0833857, nm0319457, nm0752519]"
4,150000.0,"[Horror, Thriller]","[Suited Four Productions, Shooting Creek Films...",560000.0,HOUSE OF GOOD AND EVIL,4.5,23.0,tt1068953,2013,108,[nm0612625],"[nm1846376, nm0612625]","[nm4112571, nm0646792, nm0547174, nm0722468]","[nm1252996, nm3337885, nm2044090, nm3752407]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3737,28000000.0,"[Crime, Drama, Mystery, Thriller]","[Traveling Picture Show Company (TPSC), Jersey...",53181600.0,A WALK AMONG THE TOMBSTONES,6.3,1766.0,tt0365907,2014,114,[nm0291082],"[nm0291082, nm0088747]","[nm0000553, nm1405398, nm1092086, nm2933542, n...","[nm1180690, nm0000362, nm1003922, nm0787834, n..."
3738,60000000.0,"[Animation, Comedy, Family, Fantasy]",[Laika Entertainment],108255770.0,THE BOXTROLLS,6.6,1085.0,tt0787474,2014,96,"[nm0030253, nm0820934]","[nm0030253, nm0109267, nm1106082, nm2223296, n...","[nm0001426, nm0364813, nm0296545, nm1547964]",[]
3739,20000000.0,"[Comedy, Romance, Crime, Drama]","[IAC Films, Ghoulardi Film Company, Warner Bro...",14772346.0,INHERENT VICE,6.6,1476.0,tt1791528,2014,148,[nm0000759],"[nm1535410, nm0000759]","[nm0001618, nm0000982, nm0005562, nm2239702, n...","[nm0526917, nm0783280, nm0339351, nm0005696]"
3740,50000.0,[Crime],[Allied Artists Pictures],600000.0,THE CRY BABY KILLER,5.3,6.0,tt0051500,1958,70,[nm0011727],"[nm0011727, nm0506544, nm0330388]","[nm0491591, nm0000197, nm0593198, nm0357020]","[nm0469436, nm0545289, nm0006086]"
3741,103000000.0,"[Adventure, Comedy, Family, Animation]","[Blue Sky Studios, 20th Century Fox Animation,...",500188435.0,RIO 2,6.3,1949.0,tt2357291,2014,101,[nm0757858],"[nm3229505, nm0081081, nm0185934, nm0722610, n...","[nm0251986, nm0004266, nm1318596, nm0000412]",[nm1512524]

In [340]:
genres_cols = ['genre_' + str(x + 1) for x in range(num_genres)]
print(genres_cols)

prod_companies_cols = ['prod_company_' + str(x + 1) for x in range(num_prod_companies)]
print(prod_companies_cols)    

writers_cols = ['writer_' + str(x + 1) for x in range(num_writers)]
print(writers_cols)   

directors_cols = ['director_' + str(x + 1) for x in range(num_directors)]
print(directors_cols)   

cast_cols = ['cast_' + str(x + 1) for x in range(num_cast)]
print(cast_cols)   

others_cols = ['others_' + str(x + 1) for x in range(num_others)]
print(others_cols)

def select_attribute(x, i):
    if i < len(x):
        return x[i]
    return ''

everything_merged = merged_others.copy()

for i in range(num_genres):
    col = genres_cols[i]
    everything_merged[col] = movies_list_to_cols['genres_x'].apply(lambda x : select_attribute(x, i))
    
for i in range(num_prod_companies):
    col = prod_companies_cols[i]
    everything_merged[col] = movies_list_to_cols['production_companies'].apply(lambda x : select_attribute(x, i))
    
for i in range(num_writers):
    col = writers_cols[i]
    everything_merged[col] = movies_list_to_cols['writers'].apply(lambda x : select_attribute(x, i))
    
for i in range(num_directors):
    col = directors_cols[i]
    everything_merged[col] = movies_list_to_cols['directors'].apply(lambda x : select_attribute(x, i))
        
for i in range(num_cast):
    col = cast_cols[i]
    everything_merged[col] = movies_list_to_cols['cast'].apply(lambda x : select_attribute(x, i))
        
for i in range(num_others):
    col = others_cols[i]
    everything_merged[col] = movies_list_to_cols['others'].apply(lambda x : select_attribute(x, i))

['genre_1', 'genre_2', 'genre_3', 'genre_4']
['prod_company_1', 'prod_company_2', 'prod_company_3', 'prod_company_4', 'prod_company_5']
['writer_1', 'writer_2', 'writer_3', 'writer_4', 'writer_5']
['director_1', 'director_2', 'director_3']
['cast_1', 'cast_2', 'cast_3', 'cast_4', 'cast_5', 'cast_6', 'cast_7', 'cast_8', 'cast_9', 'cast_10']
['others_1', 'others_2', 'others_3', 'others_4', 'others_5', 'others_6', 'others_7', 'others_8', 'others_9', 'others_10']

In [342]:
pd.set_option('display.max_columns', 500)

In [343]:
everything_merged[everything_merged['tconst']=='tt0848228']

,budget,genres_x,production_companies,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,directors,writers,cast,others,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10
3344,220000000.0,"[Science Fiction, Action, Adventure]",[Marvel Studios],1.519558e+09,THE AVENGERS,7.7,20827.0,tt0848228,2012,143,[nm0923736],"[nm0672015, nm0923736]","[nm0000375, nm0262635, nm0424060, nm0719637, n...","[nm0270559, nm0006293, nm0568974, nm0285701, n...",Science Fiction,Action,Adventure,,Marvel Studios,,,,,nm0672015,nm0923736,,,,nm0923736,,,nm0000375,nm0262635,nm0424060,nm0719637,nm1089991,nm1130627,,,,,nm0270559,nm0006293,nm0568974,nm0285701,nm0009540,nm0489809,nm2000224,,,

In [350]:
everything_merged_no_dup_cols = everything_merged.drop(['genres_x', 'production_companies', 'writers',
                                                        'directors', 'cast', 'others'], axis=1)

In [352]:
everything_merged_no_dup_cols.to_csv('../cleaned_data/everything_merged.csv')

In [368]:
movies_by_year = everything_merged_no_dup_cols.sort_values(['startYear'])

In [369]:
movies_by_year

,budget,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10
445,16988.0,87028.0,THE ROSE OF THE RANCHO,0.0,0.0,tt0004545,1914,\N,Romance,Western,Adventure,,Jesse L. Lasky Feature Play Company,,,,,nm0001124,nm0876445,nm0067584,,,nm0001124,,,nm0057585,nm0002034,nm0478890,nm0426668,,,,,,,nm0005931,,,,,,,,,
3072,100000.0,11000000.0,THE BIRTH OF A NATION,6.5,234.0,tt0004972,1915,195,Drama,History,War,,Epoch Film Co.,,,,,nm0228746,nm0000428,nm0940488,,,nm0000428,,,nm0001273,nm0550615,nm0910400,nm0178270,,,,,,,nm0106922,nm0005658,nm0376221,,,,,,,
353,15110.0,102224.0,THE GIRL OF THE GOLDEN WEST,5.5,2.0,tt0005393,1915,50,Western,Romance,,,Jesse L. Lasky Feature Play Company,,,,,nm0001124,nm0067584,,,,nm0001124,,,nm0885818,nm0731623,nm0676473,nm0454458,,,,,,,nm0005931,nm0371277,,,,,,,,
103,1000000.0,1390000.0,A DAUGHTER OF THE GODS,5.0,1.0,tt0006568,1916,180,Fantasy,Drama,,,Fox Film Corporation,,,,,nm0107543,nm5921220,,,,nm0107543,,,nm0445807,nm0790137,nm0208415,nm0393411,,,,,,,nm1135428,nm0005646,nm0191667,nm0402478,,,,,,
1668,250000.0,8000000.0,MICKEY,7.0,8.0,tt0009369,1918,93,Comedy,Drama,,,Mabel Normand Feature Film Company,,,,,nm0949648,nm0428059,nm0215874,nm0370271,,nm0949648,nm0428059,,nm0635667,nm0629589,nm0479126,nm0168595,,,,,,,nm0784407,nm0413164,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,200000000.0,245000000.0,DARK PHOENIX,6.1,2458.0,tt6565702,2019,113,Science Fiction,Action,Adventure,,20th Century Fox,Genre Films,Bad Hat Harry Productions,Marvel Entertainment,Kinberg Genre,nm0126208,nm1334526,nm1079211,nm1079208,nm0456158,nm1334526,,,nm0564215,nm1055413,nm2225369,nm0396558,nm0791864,nm1404239,nm5557932,,,,nm2385360,nm3767676,,,,,,,,
480,6000000.0,22220378.0,BOOKSMART,7.2,634.0,tt1489887,2019,102,Comedy,,,,Annapurna Pictures,Gary Sanchez Productions,,,,nm1312575,nm4199289,nm2573005,nm2873539,nm1054604,nm1312575,,,nm3239803,nm2788156,nm1790970,nm0837177,nm1094137,nm9537602,,,,,nm2273482,nm1819990,,,,,,,,
482,9000000.0,25327500.0,HAPPY DEATH DAY 2U,6.2,1429.0,tt8155288,2019,100,Horror,Mystery,Thriller,Science Fiction,Digital Riot Media,Blumhouse Productions,,,,nm0484907,nm1245146,,,,nm0484907,,,nm1557329,nm3441152,nm7059572,nm4139037,,,,,,,nm0089658,nm0566970,nm0002947,nm3015807,,,,,,
162,175000000.0,519802847.0,TOY STORY 4,7.6,3038.0,tt1979376,2019,100,Adventure,Animation,Comedy,Family,Walt Disney Pictures,Pixar,,,,nm2155757,nm1445746,nm0566489,nm0429069,nm0004056,nm2155757,,,nm0000158,nm0000741,nm0001633,nm0355024,,,,,,,,,,,,,,,,
361,80000000.0,155152550.0,THE SECRET LIFE OF PETS 2,6.6,822.0,tt5113040,2019,86,Adventure,Animation,Comedy,Family,Universal Pictures,Illumination Entertainment,,,,nm0528244,nm3646390,nm0719208,,,nm3646390,nm0719208,,nm0652663,nm0366389,nm0000148,nm0832314,,,,,,,nm0372329,nm0577560,nm0006035,,,,,,,

In [358]:
!pip3 install cpi --user

Collecting cpi
  Using cached https://files.pythonhosted.org/packages/ca/d1/04e0555d127270aeff9cda013dda91b94e4b968907386997018c3d7eb167/cpi-0.1.15-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.23.1 in /home/trb116/.local/lib/python3.7/site-packages (from cpi) (0.25.2)
Requirement already satisfied: requests>=2.20.0 in /home/trb116/.local/lib/python3.7/site-packages (from cpi) (2.22.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/trb116/.local/lib/python3.7/site-packages (from cpi) (2.8.0)
Collecting click>=6.7
  Using cached https://files.pythonhosted.org/packages/fa/37/45185cb5abbc30d7257104c434fe0b07e5a195a6847506c074527aa599ec/Click-7.0-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /home/trb116/.local/lib/python3.7/site-packages (from pandas>=0.23.1->cpi) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /home/trb116/.local/lib/python3.7/site-packages (from pandas>=0.23.1->cpi) (1.17.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/trb116/.local/lib/python3.7/site-packages (from requests>=2.20.0->cpi) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/trb116/.local/lib/python3.7/site-packages (from requests>=2.20.0->cpi) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/trb116/.local/lib/python3.7/site-packages (from requests>=2.20.0->cpi) (1.25.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/trb116/.local/lib/python3.7/site-packages (from requests>=2.20.0->cpi) (2019.9.11)
Requirement already satisfied: six>=1.5 in /home/trb116/.local/lib/python3.7/site-packages (from python-dateutil>=2.7.3->cpi) (1.12.0)
Installing collected packages: click, cpi
Successfully installed click-7.0 cpi-0.1.15

In [361]:
import cpi

/home/trb116/.local/lib/python3.7/site-packages/cpi/__init__.py:46: StaleDataWarning: CPI data is out of date. To accurately inflate to today's dollars, you must run `cpi.update()`.
  warnings.warn(StaleDataWarning())

In [362]:
cpi.inflate(100, 1950)

1041.9377593360996

In [380]:
movies_no_inflation = movies_by_year.copy()

for index, row in movies_no_inflation.iterrows():
    year = row['startYear']
    if year != 2019:
        movies_no_inflation.set_value(index, 'budget', cpi.inflate(row['budget'], year))
        movies_no_inflation.set_value(index, 'revenue', cpi.inflate(row['revenue'], year))

/home/trb116/.local/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/home/trb116/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

In [383]:
movies_by_year[movies_by_year['tconst'] == 'tt0848228']

,budget,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10
3344,220000000.0,1.519558e+09,THE AVENGERS,7.7,20827.0,tt0848228,2012,143,Science Fiction,Action,Adventure,,Marvel Studios,,,,,nm0672015,nm0923736,,,,nm0923736,,,nm0000375,nm0262635,nm0424060,nm0719637,nm1089991,nm1130627,,,,,nm0270559,nm0006293,nm0568974,nm0285701,nm0009540,nm0489809,nm2000224,,,

In [384]:
movies_no_inflation[movies_no_inflation['tconst'] == 'tt0848228']

,budget,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10
3344,2.406140e+08,1.661941e+09,THE AVENGERS,7.7,20827.0,tt0848228,2012,143,Science Fiction,Action,Adventure,,Marvel Studios,,,,,nm0672015,nm0923736,,,,nm0923736,,,nm0000375,nm0262635,nm0424060,nm0719637,nm1089991,nm1130627,,,,,nm0270559,nm0006293,nm0568974,nm0285701,nm0009540,nm0489809,nm2000224,,,

In [385]:
movies_no_inflation

,budget,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10
445,4.265806e+05,2.185334e+06,THE ROSE OF THE RANCHO,0.0,0.0,tt0004545,1914,\N,Romance,Western,Adventure,,Jesse L. Lasky Feature Play Company,,,,,nm0001124,nm0876445,nm0067584,,,nm0001124,,,nm0057585,nm0002034,nm0478890,nm0426668,,,,,,,nm0005931,,,,,,,,,
3072,2.486208e+06,2.734829e+08,THE BIRTH OF A NATION,6.5,234.0,tt0004972,1915,195,Drama,History,War,,Epoch Film Co.,,,,,nm0228746,nm0000428,nm0940488,,,nm0000428,,,nm0001273,nm0550615,nm0910400,nm0178270,,,,,,,nm0106922,nm0005658,nm0376221,,,,,,,
353,3.756660e+05,2.541501e+06,THE GIRL OF THE GOLDEN WEST,5.5,2.0,tt0005393,1915,50,Western,Romance,,,Jesse L. Lasky Feature Play Company,,,,,nm0001124,nm0067584,,,,nm0001124,,,nm0885818,nm0731623,nm0676473,nm0454458,,,,,,,nm0005931,nm0371277,,,,,,,,
103,2.303734e+07,3.202190e+07,A DAUGHTER OF THE GODS,5.0,1.0,tt0006568,1916,180,Fantasy,Drama,,,Fox Film Corporation,,,,,nm0107543,nm5921220,,,,nm0107543,,,nm0445807,nm0790137,nm0208415,nm0393411,,,,,,,nm1135428,nm0005646,nm0191667,nm0402478,,,,,,
1668,4.157401e+06,1.330368e+08,MICKEY,7.0,8.0,tt0009369,1918,93,Comedy,Drama,,,Mabel Normand Feature Film Company,,,,,nm0949648,nm0428059,nm0215874,nm0370271,,nm0949648,nm0428059,,nm0635667,nm0629589,nm0479126,nm0168595,,,,,,,nm0784407,nm0413164,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2.000000e+08,2.450000e+08,DARK PHOENIX,6.1,2458.0,tt6565702,2019,113,Science Fiction,Action,Adventure,,20th Century Fox,Genre Films,Bad Hat Harry Productions,Marvel Entertainment,Kinberg Genre,nm0126208,nm1334526,nm1079211,nm1079208,nm0456158,nm1334526,,,nm0564215,nm1055413,nm2225369,nm0396558,nm0791864,nm1404239,nm5557932,,,,nm2385360,nm3767676,,,,,,,,
480,6.000000e+06,2.222038e+07,BOOKSMART,7.2,634.0,tt1489887,2019,102,Comedy,,,,Annapurna Pictures,Gary Sanchez Productions,,,,nm1312575,nm4199289,nm2573005,nm2873539,nm1054604,nm1312575,,,nm3239803,nm2788156,nm1790970,nm0837177,nm1094137,nm9537602,,,,,nm2273482,nm1819990,,,,,,,,
482,9.000000e+06,2.532750e+07,HAPPY DEATH DAY 2U,6.2,1429.0,tt8155288,2019,100,Horror,Mystery,Thriller,Science Fiction,Digital Riot Media,Blumhouse Productions,,,,nm0484907,nm1245146,,,,nm0484907,,,nm1557329,nm3441152,nm7059572,nm4139037,,,,,,,nm0089658,nm0566970,nm0002947,nm3015807,,,,,,
162,1.750000e+08,5.198028e+08,TOY STORY 4,7.6,3038.0,tt1979376,2019,100,Adventure,Animation,Comedy,Family,Walt Disney Pictures,Pixar,,,,nm2155757,nm1445746,nm0566489,nm0429069,nm0004056,nm2155757,,,nm0000158,nm0000741,nm0001633,nm0355024,,,,,,,,,,,,,,,,
361,8.000000e+07,1.551526e+08,THE SECRET LIFE OF PETS 2,6.6,822.0,tt5113040,2019,86,Adventure,Animation,Comedy,Family,Universal Pictures,Illumination Entertainment,,,,nm0528244,nm3646390,nm0719208,,,nm3646390,nm0719208,,nm0652663,nm0366389,nm0000148,nm0832314,,,,,,,nm0372329,nm0577560,nm0006035,,,,,,,

In [387]:
movies_profit = movies_no_inflation.copy()
movies_profit['profit'] = movies_profit['revenue'] - movies_profit['budget']

In [392]:
# movie that tanked the worst
movies_profit.sort_values('profit').iloc[0]

budget                               2.74867e+08
revenue                              9.62466e+07
title                            THE LONE RANGER
vote_average                                   6
vote_count                                  3980
tconst                                 tt1210819
startYear                                   2013
runtimeMinutes                               150
genre_1                                   Action
genre_2                                Adventure
genre_3                                  Western
genre_4
prod_company_1    Silver Bullet Productions (II)
prod_company_2              Walt Disney Pictures
prod_company_3           Jerry Bruckheimer Films
prod_company_4            Blind Wink Productions
prod_company_5                   Infinitum Nihil
writer_1                               nm0254645
writer_2                               nm0893659
writer_3                               nm0744429
writer_4                               nm1244808
writer_5
director_1                             nm0893659
director_2
director_3
cast_1                                 nm0000136
cast_2                                 nm2309517
cast_3                                 nm0001209
cast_4                                 nm0929489
cast_5                                 nm0094495
cast_6                                 nm0339159
cast_7                                 nm1151899
cast_8                                 nm1370408
cast_9                                 nm2016685
cast_10
others_1                               nm0000988
others_2                               nm0001877
others_3                               nm0005648
others_4                               nm0257259
others_5                               nm1913201
others_6
others_7
others_8
others_9
others_10
profit                              -1.78621e+08
Name: 1695, dtype: object

In [394]:
movies_rev_budget_ratio = movies_profit.copy()
movies_rev_budget_ratio['rev_budget_ratio'] = movies_rev_budget_ratio['revenue'] / movies_rev_budget_ratio['budget']

In [395]:
movies_rev_budget_ratio

,budget,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,profit,rev_budget_ratio
445,4.265806e+05,2.185334e+06,THE ROSE OF THE RANCHO,0.0,0.0,tt0004545,1914,\N,Romance,Western,Adventure,,Jesse L. Lasky Feature Play Company,,,,,nm0001124,nm0876445,nm0067584,,,nm0001124,,,nm0057585,nm0002034,nm0478890,nm0426668,,,,,,,nm0005931,,,,,,,,,,1.758753e+06,5.122910
3072,2.486208e+06,2.734829e+08,THE BIRTH OF A NATION,6.5,234.0,tt0004972,1915,195,Drama,History,War,,Epoch Film Co.,,,,,nm0228746,nm0000428,nm0940488,,,nm0000428,,,nm0001273,nm0550615,nm0910400,nm0178270,,,,,,,nm0106922,nm0005658,nm0376221,,,,,,,,2.709967e+08,110.000000
353,3.756660e+05,2.541501e+06,THE GIRL OF THE GOLDEN WEST,5.5,2.0,tt0005393,1915,50,Western,Romance,,,Jesse L. Lasky Feature Play Company,,,,,nm0001124,nm0067584,,,,nm0001124,,,nm0885818,nm0731623,nm0676473,nm0454458,,,,,,,nm0005931,nm0371277,,,,,,,,,2.165835e+06,6.765321
103,2.303734e+07,3.202190e+07,A DAUGHTER OF THE GODS,5.0,1.0,tt0006568,1916,180,Fantasy,Drama,,,Fox Film Corporation,,,,,nm0107543,nm5921220,,,,nm0107543,,,nm0445807,nm0790137,nm0208415,nm0393411,,,,,,,nm1135428,nm0005646,nm0191667,nm0402478,,,,,,,8.984562e+06,1.390000
1668,4.157401e+06,1.330368e+08,MICKEY,7.0,8.0,tt0009369,1918,93,Comedy,Drama,,,Mabel Normand Feature Film Company,,,,,nm0949648,nm0428059,nm0215874,nm0370271,,nm0949648,nm0428059,,nm0635667,nm0629589,nm0479126,nm0168595,,,,,,,nm0784407,nm0413164,,,,,,,,,1.288794e+08,32.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2.000000e+08,2.450000e+08,DARK PHOENIX,6.1,2458.0,tt6565702,2019,113,Science Fiction,Action,Adventure,,20th Century Fox,Genre Films,Bad Hat Harry Productions,Marvel Entertainment,Kinberg Genre,nm0126208,nm1334526,nm1079211,nm1079208,nm0456158,nm1334526,,,nm0564215,nm1055413,nm2225369,nm0396558,nm0791864,nm1404239,nm5557932,,,,nm2385360,nm3767676,,,,,,,,,4.500000e+07,1.225000
480,6.000000e+06,2.222038e+07,BOOKSMART,7.2,634.0,tt1489887,2019,102,Comedy,,,,Annapurna Pictures,Gary Sanchez Productions,,,,nm1312575,nm4199289,nm2573005,nm2873539,nm1054604,nm1312575,,,nm3239803,nm2788156,nm1790970,nm0837177,nm1094137,nm9537602,,,,,nm2273482,nm1819990,,,,,,,,,1.622038e+07,3.703396
482,9.000000e+06,2.532750e+07,HAPPY DEATH DAY 2U,6.2,1429.0,tt8155288,2019,100,Horror,Mystery,Thriller,Science Fiction,Digital Riot Media,Blumhouse Productions,,,,nm0484907,nm1245146,,,,nm0484907,,,nm1557329,nm3441152,nm7059572,nm4139037,,,,,,,nm0089658,nm0566970,nm0002947,nm3015807,,,,,,,1.632750e+07,2.814167
162,1.750000e+08,5.198028e+08,TOY STORY 4,7.6,3038.0,tt1979376,2019,100,Adventure,Animation,Comedy,Family,Walt Disney Pictures,Pixar,,,,nm2155757,nm1445746,nm0566489,nm0429069,nm0004056,nm2155757,,,nm0000158,nm0000741,nm0001633,nm0355024,,,,,,,,,,,,,,,,,3.448028e+08,2.970302
361,8.000000e+07,1.551526e+08,THE SECRET LIFE OF PETS 2,6.6,822.0,tt5113040,2019,86,Adventure,Animation,Comedy,Family,Universal Pictures,Illumination Entertainment,,,,nm0528244,nm3646390,nm0719208,,,nm3646390,nm0719208,,nm0652663,nm0366389,nm0000148,nm0832314,,,,,,,nm0372329,nm0577560,nm0006035,,,,,,,,7.515255e+07,1.939407

In [444]:
firstYear = 1914
lastYear = 2019

def get_component_score(components, instance, score_type, cur_year):
    
    score = 0
    relevant_years = movies_rev_budget_ratio[movies_no_inflation['startYear'] <= cur_year]
    
    weight = len(components)
    for comp in components:
        relevant_cols = relevant_years[relevant_years[comp] == instance][score_type]
        score += sum(list(relevant_cols.values)) * weight
        weight -= 1
    
    return score

In [439]:
movies_rev_budget_ratio[(movies_rev_budget_ratio['writer_1'] == 'nm0634240') | 
                        (movies_rev_budget_ratio['writer_2'] == 'nm0634240') |
                        (movies_rev_budget_ratio['writer_3'] == 'nm0634240') |
                        (movies_rev_budget_ratio['writer_4'] == 'nm0634240') |
                        (movies_rev_budget_ratio['writer_5'] == 'nm0634240')]

,budget,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10,profit,rev_budget_ratio
2890,1.312406e+07,5.792536e+07,MEMENTO,8.2,8368.0,tt0209144,2000,113,Mystery,Thriller,,,Summit Entertainment,Newmarket Capital Group,Team Todd,I Remember Productions,,nm0634240,nm0634300,,,,nm0634240,,,nm0001602,nm0005251,nm0001592,nm0095478,nm0719678,,,,,,nm0865189,nm0865297,nm0432382,nm0002892,,,,,,,4.480130e+07,4.413677
2978,6.420746e+07,1.587248e+08,INSOMNIA,6.9,2409.0,tt0278504,2002,118,Crime,Mystery,Thriller,,Alcon Entertainment,Witt/Thomas Productions,Section Eight,,,nm0296154,nm0782711,nm0634240,nm0804408,,nm0634240,,,nm0000199,nm0000245,nm0005476,nm0233027,,,,,,,nm0424663,nm0432625,nm0233827,nm0859597,,,,,,,9.451733e+07,2.472062
3210,4.982282e+07,1.366096e+08,THE PRESTIGE,8.2,8791.0,tt0482571,2006,130,Drama,Mystery,Thriller,,Touchstone Pictures,Syncopy,Warner Bros. Pictures,,,nm1793993,nm0634240,nm0634300,,,nm0634240,,,nm0000288,nm0413168,nm0424060,nm0000323,nm0356017,,,,,,nm0753083,nm0858799,nm0432382,nm0002892,nm0250373,,,,,,8.678675e+07,2.741908
2047,2.734250e+08,1.186598e+09,THE DARK KNIGHT RISES,7.7,14735.0,tt1345836,2012,164,Action,Crime,Drama,Thriller,Syncopy,Legendary Entertainment,DC Entertainment,Warner Bros. Pictures,,nm0333060,nm0004170,nm0634240,nm0634300,,nm0634240,,,nm0000288,nm0362766,nm0004266,nm0000198,nm0000546,nm1577637,,,,,nm0746273,nm0858799,nm0004012,,,,,,,,9.131730e+08,4.339756

In [440]:
success_metrics = ['vote_average', 'vote_count', 'profit', 'rev_budget_ratio']
nontrivial_col_types = [prod_companies_cols, writers_cols, directors_cols, cast_cols, others_cols]

In [445]:
get_component_score(writers_cols, 'nm0634240', success_metrics[0], 2019)

117.6

In [446]:
get_component_score(writers_cols, 'nm0634240', success_metrics[1], 2019)

128436.0

In [447]:
get_component_score(writers_cols, 'nm0634240', success_metrics[2], 2019)

3594224660.6782184

In [448]:
get_component_score(writers_cols, 'nm0634240', success_metrics[3], 2019)

53.47147151988406

In [ ]:
for i in range(firstYear, lastYear + 1)
    scores = dict.fromkeys(success_metrics,0)
    
    for metric in success_metrics:
        for col_type in nontrivial_col_types
            for col in col_type:
                
                
                scores[]

In [348]:
for index, row in name_basics.iterrows():

,budget,genres_x,production_companies,revenue,title,vote_average,vote_count,tconst,startYear,runtimeMinutes,directors,writers,cast,others,genre_1,genre_2,genre_3,genre_4,prod_company_1,prod_company_2,prod_company_3,prod_company_4,prod_company_5,writer_1,writer_2,writer_3,writer_4,writer_5,director_1,director_2,director_3,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7,cast_8,cast_9,cast_10,others_1,others_2,others_3,others_4,others_5,others_6,others_7,others_8,others_9,others_10
0,13000000.0,"[Family, Adventure, Science Fiction]","[Panay Films, Walt Disney Pictures]",45300000.0,EARTH TO ECHO,5.8,394.0,tt2183034,2014,91,[nm1757777],"[nm0659123, nm2849655, nm1757777]","[nm5128387, nm4702342, nm3419119, nm4125403, n...","[nm1448916, nm2468967, nm1131817]",Family,Adventure,Science Fiction,,Panay Films,Walt Disney Pictures,,,,nm0659123,nm2849655,nm1757777,,,nm1757777,,,nm5128387,nm4702342,nm3419119,nm4125403,nm4861346,,,,,,nm1448916,nm2468967,nm1131817,,,,,,,
1,26000000.0,"[Science Fiction, Mystery, Thriller]","[Ram Bergman Productions, Endgame Entertainment]",30523226.0,SELF/LESS,6.3,1929.0,tt2140379,2015,117,[nm0802248],"[nm1883612, nm0802248, nm0665041]","[nm0005351, nm2358540, nm0328828, nm0001426]","[nm0074851, nm0772283, nm0827726]",Science Fiction,Mystery,Thriller,,Ram Bergman Productions,Endgame Entertainment,,,,nm1883612,nm0802248,nm0665041,,,nm0802248,,,nm0005351,nm2358540,nm0328828,nm0001426,,,,,,,nm0074851,nm0772283,nm0827726,,,,,,,
2,65000000.0,"[Action, Comedy, Crime]","[Chernin Entertainment, Feigco Entertainment, ...",235666219.0,SPY,6.8,4111.0,tt3079380,2015,119,[nm0082450],[nm0082450],"[nm0565250, nm0126284, nm0000179, nm0005458]","[nm1858656, nm2295810, nm0867768, nm0788640, n...",Action,Comedy,Crime,,Chernin Entertainment,Feigco Entertainment,20th Century Fox,,,nm0082450,,,,,nm0082450,,,nm0565250,nm0126284,nm0000179,nm0005458,,,,,,,nm1858656,nm2295810,nm0867768,nm0788640,nm0005934,nm1265067,,,,
3,5000000.0,"[Action, Drama]",[The Movie Network],1700000.0,BEST OF THE BEST,6.4,93.0,tt0096913,1989,97,[nm0705675],"[nm0705675, nm0834883, nm0505924]","[nm0000616, nm0000469, nm0000476, nm0722221, n...","[nm0833857, nm0319457, nm0752519]",Action,Drama,,,The Movie Network,,,,,nm0705675,nm0834883,nm0505924,,,nm0705675,,,nm0000616,nm0000469,nm0000476,nm0722221,nm0004891,,,,,,nm0833857,nm0319457,nm0752519,,,,,,,
4,150000.0,"[Horror, Thriller]","[Suited Four Productions, Shooting Creek Films...",560000.0,HOUSE OF GOOD AND EVIL,4.5,23.0,tt1068953,2013,108,[nm0612625],"[nm1846376, nm0612625]","[nm4112571, nm0646792, nm0547174, nm0722468]","[nm1252996, nm3337885, nm2044090, nm3752407]",Horror,Thriller,,,Suited Four Productions,Shooting Creek Films,Horrorshow,Chabo Films,PIK2 Entertainment,nm1846376,nm0612625,,,,nm0612625,,,nm4112571,nm0646792,nm0547174,nm0722468,,,,,,,nm1252996,nm3337885,nm2044090,nm3752407,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3737,28000000.0,"[Crime, Drama, Mystery, Thriller]","[Traveling Picture Show Company (TPSC), Jersey...",53181600.0,A WALK AMONG THE TOMBSTONES,6.3,1766.0,tt0365907,2014,114,[nm0291082],"[nm0291082, nm0088747]","[nm0000553, nm1405398, nm1092086, nm2933542, n...","[nm1180690, nm0000362, nm1003922, nm0787834, n...",Crime,Drama,Mystery,Thriller,Traveling Picture Show Company (TPSC),Jersey Films,Free State Pictures,Exclusive Media,Cross Creek Pictures,nm0291082,nm0088747,,,,nm0291082,,,nm0000553,nm1405398,nm1092086,nm2933542,nm1716636,nm4702342,,,,,nm1180690,nm0000362,nm1003922,nm0787834,nm1893246,,,,,
3738,60000000.0,"[Animation, Comedy, Family, Fantasy]",[Laika Entertainment],108255770.0,THE BOXTROLLS,6.6,1085.0,tt0787474,2014,96,"[nm0030253, nm0820934]","[nm0030253, nm0109267, nm1106082, nm2223296, n...","[nm0001426, nm0364813, nm0296545, nm1547964]",[],Animation,Comedy,Family,Fantasy,Laika Entertainment,,,,,nm0030253,nm0109267,nm1106082,nm2223296,nm0197767,nm0030253,nm0820934,,nm0001426,nm0364813,nm0296545,nm1547964,,,,,,,,,,,,,,,,
3739,20000000.0,"[Comedy, Romance, Crime, Drama]","[IAC Films, Ghoulardi Film Company, Warner Bro...",14772346.0,INHERENT VICE,6.6,1476.0,tt1791528,2014,148,[nm0000759],"[nm1535410, nm0000759]","[nm0001618, nm0000982, nm0005562, nm2239702, n...","[nm0526917, nm0783280, nm0339351, nm0005696]",Comedy,Romance,Crime,Drama,IAC Films,Ghoulardi Film Company,Warner Bros. Pictures,,,nm1535410,nm0000759,,,,nm0000759,,,nm0001618,nm0000982,nm0005562,nm2239702,nm0068643,nm0233027,nm2186865,,,,nm0526917,nm0783280,nm0339351,nm0005696,,,,,,
3740,50000.0,[Crime],[Allied Artists Pictures],600000.0,THE CRY BABY KILLER,5.3,6.0,tt0051500,1958,70,[nm0011727],"[nm0011727, nm0506544, nm0330388]","[nm0491591, nm0000197, nm0593198, nm0357020]","[nm0469436, nm0545289, nm0006086]",Crime,,,,Allied Artists Pictures,,,,,nm0011727,nm0506544,nm0330388,,,nm0011727,,,nm0491591,nm0000197,nm0593198,nm0357020,,,,,,,nm0469436,nm0545289,nm0006086,,,,,,,
3741,103000000.0,"[Adventure, Comedy, Family, Animation]","[Blue Sky Studios, 20th Century Fox Animation,...",500188435.0,RIO 2,6.3,1949.0,tt2357291,2014,101,[nm0757858],"[nm3229505, nm0081081, nm0185934, nm0722610, n...","[nm0251986, nm0004266, nm1318596, nm0000412]",[nm1512524],Adventure,Comedy,Family,Animation,Blue Sky Studios,20th Century Fox Animation,20th Century Fox,,,nm3229505,nm0081081,nm0185934,nm0722610,nm0757858,nm0757858,,,nm0251986,nm0004266,nm1318596,nm0000412,,,,,,,nm1512524,,,,,,,,,

In [347]:
ratings[ratings['tconst']=='tt0848228']

      Unnamed: 0     tconst  averageRating  numVotes
3351        3351  tt0848228            8.0   1204895