In [1]:
import pandas as pd

In [2]:
imdb_tmdb = pd.read_csv('../data/imdb_tmdb.csv')

In [3]:
title_principals = pd.read_csv('title_principals.tsv', delimiter='\t')

In [23]:
title_principals[title_principals['tconst'] == 'tt1515091']

,tconst,ordering,nconst,category,job,characters
14119653,tt1515091,10,nm1469853,producer,producer,\N
14119654,tt1515091,1,nm0000375,actor,\N,"[""Sherlock Holmes""]"
14119655,tt1515091,2,nm0000179,actor,\N,"[""Dr. John Watson""]"
14119656,tt1515091,3,nm0364813,actor,\N,"[""Professor James Moriarty""]"
14119657,tt1515091,4,nm1046097,actress,\N,"[""Irene Adler""]"
14119658,tt1515091,5,nm0005363,director,\N,\N
14119659,tt1515091,6,nm1802251,writer,written by,\N
14119660,tt1515091,7,nm0612487,writer,written by,\N
14119661,tt1515091,8,nm0236279,writer,characters,\N
14119662,tt1515091,9,nm1206265,producer,producer,\N

In [19]:
%%time
relevant_principals = pd.merge(imdb_tmdb[['tconst']], title_principals,
                  left_on=['tconst'], right_on=['tconst'], how='inner')

CPU times: user 8.91 s, sys: 6.42 s, total: 15.3 s
Wall time: 1min 3s

In [22]:
relevant_principals.to_csv('../data/relevant_principals.csv')