In [2]:
import pandas as pd

In [3]:
imdb_tmdb = pd.read_csv('../data/imdb_tmdb.csv')

In [4]:
title_crew = pd.read_csv('title_crew.tsv', delimiter='\t')

In [7]:
title_crew[title_crew['tconst'] == 'tt1515091']

            tconst  directors                        writers
2119107  tt1515091  nm0005363  nm1802251,nm0612487,nm0236279

In [9]:
%%time
relevant_crew = pd.merge(imdb_tmdb[['tconst']], title_crew,
                  left_on=['tconst'], right_on=['tconst'], how ='inner')

CPU times: user 4.79 s, sys: 288 ms, total: 5.08 s
Wall time: 5.06 s

In [10]:
relevant_crew.to_csv('../data/relevant_crew.csv')